@import './../../scss/variables';

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  background-color: rgba($mainColor, 0.3);
  z-index: 300;
  font-weight: bold;
  font-size: 2rem;
}

