$hilightColor: #FFA500;
$mainColor: #2f5757;

$backgroundColor: #fefefe;
$backgroundColorDarker: #dddddd;
$backgroundColorDark: #000000;

$linkColor: #FFA500;
$linkHoverColor: rgb(255, 204, 108);

$textColor: #FEFEFE;
